.container {
    display: flex; 
    height: 100vh; 
  }
  
  .sidebar {
    width: 200px; 
    background-color: #f0f0f0; 
    padding: 20px;
    border-right: 1px solid #ccc;
    
  }
  
  .main-content {
    flex: 1; 
    padding: 20px;
  }
  .sidebar ul li {
    margin-bottom: 10px; 
  }